<!-- templates/chat.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
    <link rel="stylesheet" type="text/css" href="/static/chat-style.css">
</head>
<body>
    <h1>Welcome to the Chat Room</h1>
    <div id="room-info">
        Room ID: <strong>{{ room }}</strong>
    </div>
    <div id="chat-container">
        <div id="messages"></div>
        <input id="message_input" autocomplete="off" placeholder="Type your message..." />
        <button onclick="sendMessage()">Send</button>
    </div>

    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js" integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4" crossorigin="anonymous"></script>
    <script src="/static/chat-script.js"></script>
    <iframe src="https://ghbtns.com/github-btn.html?user=Austin-Holdheide&repo=socketio-chat&type=star&count=true&size=large" frameborder="0" scrolling="0" width="170" height="30" title="GitHub Stars iframe"></iframe>
    <P>Version 1.0</P>
</body>
</html>
