<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>Welcome to the Chat App</h1>
    
    <form id="joinForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="room">Chat Room ID:</label>
        <input type="text" id="room" name="room" required>
        
        <button type="submit">Join Chat</button>
    </form>
<p>
Normal Chat - normal
</p>
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js" integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4" crossorigin="anonymous"></script>
    <script src="/static/script.js"></script>
</body>
</html>
